article {
    margin: 10px;
}

p {
    text-align: justify;
    font-size: 20px;
}



video, iframe {
    width: 300px;
    aspect-ratio: 9/16;
}

@media (min-width: 800px) {
    .assets {
        display: flex;
        gap: 1rem;
    }
}

@media (max-width: 650px) {
    .assets {
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }

    .assets video, .assets iframe {
        width: 100%;
    }
}
