table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
    font-family: Arial, sans-serif;
    overflow: scroll;
}

th, td {
    padding: 12px;
    text-align: left;
    border: 1px solid #ddd;
}

th {
    background-color: #AABCFE;
    color: black;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

tr:hover {
    background-color: #ddd;
}

thead {
    font-weight: bold;
}

tbody td {
    word-wrap: break-word;
    overflow-wrap: break-word;
}

@media (max-width: 720px) {
    .table_email {
        display: none;
    }
}
@media (max-width: 600px) {
    .table_id {
        display: none;
    }
}
